.block{
    width: 40%;
    height: 270px;
    margin-top: 5%;
    margin-left: 25%;
    align-items: center;
    border: 1px solid black;
    color: black;
    text-align: center;
}

.header, .article, .section1, .section2,main,footer{
    border: 2px solid black;
    padding: 5px;
    margin:12px;
    border-radius: 5px;
    background-color: red;
}
main{
    border-color: red;
}
